// Body
$body-bg: #f8fafc;
$primary-color: #fe7124;
$active-primary-color: #FF5A01;
$gray-color: #e7e7e7; 

// Typography
$font-family-sans-serif: Glacial-Regular;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
